#nav-bar {
    /* background-color: fff; */
    /* background: linear-gradient(90deg, #e3ffe7 0%, #ffffff 100%); */
    background-color: #ffffff !important;
    box-shadow: 5px 2px 10px 0px #b9b9b9;
    width: 100%;
}

