<div class="layout">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        General Information
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="question-card">
                        <div class="question">
                            1. What is the frequency for each product?
                        </div>
                        <div class="answer">
                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Daily / Weekly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Monthly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Quarterly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Annual</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">On Demand</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="other">
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-card">
                        <div class="question">
                            2. What is the High-level SLA timing of what
                            is expected for each step in the data
                            processing?
                        </div>
                        <div class="answer">

                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Data Receipt:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Audits:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Audit Approval:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Print and Mail:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">Load to Digital:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-card">
                        <div class="question">
                            3. What is the frequency for each product?
                        </div>
                        <div class="answer">

                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Daily / Weekly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Monthly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Quarterly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Annual</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">On Demand</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="other">
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-card">
                        <div class="question">
                            4. What is the High-level SLA timing of what
                            is expected for each step in the data
                            processing?
                        </div>
                        <div class="answer">

                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Data Receipt:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Audits:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Audit Approval:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Print and Mail:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">Load to Digital:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Color
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="question-card">
                        <div class="question">
                            1. What is the frequency for each product?
                        </div>
                        <div class="answer">

                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Daily / Weekly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Monthly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Quarterly</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Annual</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">On Demand</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="other">
                                    <label class="custom-control-label" for="other">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-card">
                        <div class="question">
                            2. What is the High-level SLA timing of what
                            is expected for each step in the data
                            processing?
                        </div>
                        <div class="answer">

                            <div class="row">
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="daily">
                                    <label class="custom-control-label" for="daily">Data Receipt:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="monthly">
                                    <label class="custom-control-label" for="monthly">Audits:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="quarterly">
                                    <label class="custom-control-label" for="quarterly">Audit Approval:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="anual">
                                    <label class="custom-control-label" for="anual">Print and Mail:</label>
                                </div>
                                <div class="custom-control custom-checkbox" id="answer-option">
                                    <input type="checkbox" class="custom-control-input" id="onDemand">
                                    <label class="custom-control-label" for="onDemand">Load to Digital:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination-div">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">12</a></li>
            <li class="page-item"><a class="page-link" href="#">13</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>


<!-- <div class="layout">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i
                            class="fa fa-plus"></i> What is HTML?</button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <p>HTML stands for HyperText Markup Language. HTML is the standard markup language for describing
                        the structure of web pages. <a href="https://www.tutorialrepublic.com/html-tutorial/"
                            target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseTwo"><i class="fa fa-plus"></i> What is Bootstrap?</button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <p>Bootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web
                        development. It is a collection of CSS and HTML conventions. <a
                            href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn
                            more.</a></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#collapseThree"><i class="fa fa-plus"></i> What is CSS?</button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a
                        given HTML element such as colors, backgrounds, fonts etc. <a
                            href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row text-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">.</a></li>
            <li class="page-item"><a class="page-link" href="#">12</a></li>
            <li class="page-item"><a class="page-link" href="#">13</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div> -->