/* You can add global styles to this file, and also import other style files */


body {
    /* font-family: 'Open Sans', sans-serif !important; */
    font-family: 'Source Sans Pro', sans-serif;
}

/* body {
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */